body{
    background-color: black;
}
label{
    color: coral;
}
#username {
    background-color: hotpink;
}
#password {
    background-color: hotpink;
}
#submit {
    background-color: darkolivegreen;
}